body, html {
  min-height: 100%;
}

.row {
  margin-bottom: 10px;
}

.btn {
  display: block;
}

@media only screen and (min-width: 974px) {
  body {
    padding-top: 60px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  img {
    width: 100px;
    height: 100px;
  }
  
  .btn-toolbar .btn-group {
    display: block;
  }
}