body {
  padding-top: 60px;
}

body, html {
  min-height: 100%;
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
  
  img {
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.row {
  margin-bottom: 10px;
}

.btn-group .btn {
  width: 33.3%;
}

.btn {
  display: block;
}
